.heading {
  margin-bottom: 50px;

  @media (width <= 991px) {
    margin-bottom: 30px;
  }

  @media (width <= 767px) {
    margin-bottom: 20px;
  }
}

.content {
  display: flex;
  gap: 20px;

  > div {
    width: 100%;
  }

  @media (width <= 1023px) {
    flex-direction: column;
  }
}
