.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 500;
  line-height: 170%;
  color: var(--gray-dark);
  margin-bottom: 42px;

  @media (width <= 992px) {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
  }
}

.fullAddress {
  max-width: 290px;
}

.label {
  line-height: 180%;
  color: var(--gray);
}
