.skeleton {
  background-color: var(--gray-light);
  width: 100%;
  height: 40px;
  border-radius: 8px;
  animation: pulse 1.5s infinite;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
