.title {
  margin-bottom: 24px;
}

.description {
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 36px;
}

.subtitle {
  margin-bottom: 16px;
}

.subdescription {
  line-height: 170%;
  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
