.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;

  @media (width <= 767px) {
    gap: 10px;
    margin-bottom: 20px;
  }
}

.title {
  white-space: nowrap;
  margin-bottom: 0;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  text-transform: uppercase;
  color: var(--primary-dark);

  @media (width <= 479px) {
    flex-direction: column;
    text-align: center;
  }
}
