.actions {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark-black);
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);

  &:hover,
  &:focus {
    color: var(--primary);
  }

  @media (width <= 479px) {
    font-size: 12px;
    gap: 8px;
  }
}

.divider {
  width: 1px;
  height: 24px;
  background: var(--border-color);
  margin-inline: 16px;
}
