.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  line-height: 110%;
  color: var(--white-light);

  @media (width <= 479px) {
    flex-direction: column;
  }
}

.link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--white-light);
  transition: var(--transition);

  &:hover {
    color: var(--primary);
  }
}
