.wrapper {
  width: 100%;
  max-width: 555px;
  padding: 20px;
  box-sizing: border-box;

  @media (width <= 767px) {
    padding: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  width: 100%;
}
