.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  width: 100%;
}

.divider {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray);
  font-size: 14px;
  line-height: 1;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-top: 1px solid var(--border-color);
}
