.headerBottom {
  border-block: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  padding: 25px 30px 25px 0;
  border-right: 1px solid var(--border-color);
  flex-shrink: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
  min-width: 0;
}

.catalogLink,
.categoryLink {
  font-weight: 500;
  line-height: 80%;
  text-decoration: none;
  color: var(--dark-black);
  transition: var(--transition);
  white-space: nowrap;

  &:hover {
    color: var(--primary);
  }
}

.catalogLink {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.categories {
  min-width: 0;
  overflow-x: auto;
  scrollbar-width: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  min-width: max-content;
}

@media (width <= 1200px) {
  .links,
  .categoryList {
    gap: 28px;
  }
}

@media (width <= 991px) {
  .links,
  .categoryList {
    gap: 20px;
  }
}

.icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.favorites,
.search,
.cart {
  padding: 28px;
  position: relative;
  display: inline-flex;
  color: var(--dark-black);
  transition: var(--transition);

  &:hover {
    color: var(--primary);
  }
}

.search {
  border-inline: 1px solid var(--border-color);
}

.cart {
  border-right: 1px solid var(--border-color);
}

.favorites {
  border-right: 1px solid var(--border-color);
}

.favoritesCount {
  min-width: 22px;
  height: 22px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  display: flex;
  position: absolute;
  top: -4px;
  right: -4px;
}
