.wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
  min-width: 0;

  @media (width <= 767px) {
    justify-content: space-between;
  }
}

.label {
  line-height: 60%;
  white-space: nowrap;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-light);
  padding: 10px;
  width: 50px;
  height: 45px;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    border-color: var(--dark-black);
    color: var(--dark-black);
  }

  &.buttonActive {
    color: var(--dark-black);
    border-color: var(--dark-black);
  }
}
