.wrapper {
  display: flex;
  justify-content: center;
}

.form,
.successBox {
  width: 100%;
  max-width: 470px;
  border: 1px solid var(--border-color);
  padding: 24px;
}

.successBox {
  text-align: center;
  color: var(--gray);
  line-height: 1.6;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  line-height: 175%;
  text-align: center;
  color: var(--gray);
}

.button {
  width: 100%;
}
