.resetButton {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 80%;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--dark-black);
  padding-inline: 20px;
  cursor: pointer;
}
